<div class="weui-tabbar">
    <a href="#/index/recommend" class="weui-tabbar__item" ng-click="active(0)" ng-class="{'weui-bar__item_on':item==0}">
        <img src="images/icon/icon1.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">推荐</p>
    </a>
    <a href="#/index/entertain" class="weui-tabbar__item" ng-click="active(1)" ng-class="{'weui-bar__item_on':item==1}"> 
        <img src="images/icon/icon2.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">娱乐</p>
    </a>
    <a href="#/index/society" class="weui-tabbar__item" ng-click="active(2)" ng-class="{'weui-bar__item_on':item==2}">
        <img src="images/icon/icon3.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">社会</p>
    </a>
    <a href="#/index/military" class="weui-tabbar__item" ng-click="active(3)" ng-class="{'weui-bar__item_on':item==3}"> 
        <img src="images/icon/icon4.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">军事</p>
    </a>
</div>