<div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a ng-href="#/detail?title={{n.title}}" class="weui-media-box weui-media-box_appmsg" ng-repeat="n in news | filter:searchName">
                    <div class="weui-media-box__hd" ng-show="n.imageurls[0].url">
                        <img class="weui-media-box__thumb" ng-src="{{n.imageurls[0].url}}">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{n.title}}</h4>
                        <p class="weui-media-box__desc">{{n.desc}}</p>
                    </div>
                </a>
            </div>
            <div class="weui-panel__ft">
                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" ng-click="loadMore()">
                    <div class="weui-cell__bd">查看更多</div>
                    <span class="weui-cell__ft"></span>
                </a>    
            </div>
        </div>
    </div>
